{
  "development": {
    "REACT_APP_WEBSITE_URL": "http://localhost:3000",
    "REACT_APP_WEBSITE_TITLE": "Deansoft Technology",
    "REACT_APP_WEBSITE_NAME": "React Redux",
    "REACT_APP_WEBSITE_DESCRIPTION": "React Redux Boilerplate For Deansoft Technology",
    "REACT_APP_WEBSITE_KEYWORDS": "",
    "REACT_APP_FAVICON": "/favicon.ico",
    "REACT_APP_APPLE_TOUCH": "/logo192.png",
    "REACT_APP_OPEN_GRAPH": "",
    "REACT_APP_LOCAL_STORAGE_PREFIX": "deansoft-redux-starter",
    "REACT_APP_FIREBASE_API_KEY": "",
    "REACT_APP_FIREBASE_AUTH_DOMAIN": "",
    "REACT_APP_FIREBASE_DATABASE_URL": "",
    "REACT_APP_FIREBASE_PROJECT_ID": "",
    "REACT_APP_FIREBASE_STORAGE_BUCKET": "",
    "REACT_APP_FIREBASE_MESSAGING_SENDER_ID": "",
    "REACT_APP_FIREBASE_CLOUD_FUNCTION": "",
    "REACT_APP_FIREBASE_CONFIRMATION_EMAIL_REDIRECT": "http://localhost:3000",
    "REACT_APP_FIREBASE_AVATAR_BUCKET": "user",
    "REACT_APP_FIREBASE_API_URL": "",
    "REACT_APP_GOOGLE_API_KEY": "",
    "REACT_APP_FB_APP_ID": "",
    "REACT_APP_FB_APP_SECRET": "",
    "REACT_APP_MAIN_WEB_URL": "https://www.deansoft-technology.com"
  },
  "staging": {
    "REACT_APP_FIREBASE_CONFIRMATION_EMAIL_REDIRECT": ""
  },
  "production": {
    "REACT_APP_FIREBASE_CONFIRMATION_EMAIL_REDIRECT": ""
  }
}
